accelerate==1.7.0
action-msgs==1.2.2
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.9.0
adam_mini==1.1.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
airportsdata==20250811
ament-cmake-test==1.3.12
ament-copyright==0.12.14
ament-cppcheck==0.12.14
ament-cpplint==0.12.14
ament-flake8==0.12.14
ament-index-python==1.4.0
ament-lint==0.12.14
ament-lint-cmake==0.12.14
ament-package==0.14.1
ament-pep257==0.12.14
ament-uncrustify==0.12.14
ament-xmllint==0.12.14
angles==1.15.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.10.0
apollo-torch==1.0.3
aqlm==1.1.7
astor==0.8.1
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
av==15.1.0
badam==1.4
bitsandbytes==0.47.0
blake3==1.0.5
blobfile==3.0.0
boto3==1.40.22
botocore==1.40.22
build==1.3.0
builtin-interfaces==1.2.2
cachetools==6.2.0
certifi==2025.8.3
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.3
click==8.2.1
cloudpickle==3.1.1
composition-interfaces==1.2.2
compressed-tensors==0.9.2
contourpy==1.3.2
cuda-bindings==13.0.1
cuda-pathfinder==1.2.1
cuda-python==13.0.1
cupy-cuda12x==13.6.0
cut-cross-entropy==25.1.1
cv-bridge==3.2.1
cycler==0.12.1
datasets==3.6.0
decorator==5.2.1
decord==0.6.0
deepspeed==0.16.9
demo-nodes-py==0.20.5
depyf==0.18.0
device-smi==0.4.1
diagnostic-msgs==4.9.0
diffusers==0.35.1
dill==0.3.8
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
dnspython==2.7.0
docstring_parser==0.17.0
domain-coordinator==0.10.0
einops==0.8.1
einx==0.3.0
email-validator==2.3.0
encodec==0.1.1
evaluate==0.4.6
example-interfaces==0.9.3
examples-rclpy-executors==0.15.4
examples-rclpy-minimal-action-client==0.15.4
examples-rclpy-minimal-action-server==0.15.4
examples-rclpy-minimal-client==0.15.4
examples-rclpy-minimal-publisher==0.15.4
examples-rclpy-minimal-service==0.15.4
examples-rclpy-minimal-subscriber==0.15.4
exceptiongroup==1.3.0
executing==2.2.1
fastapi==0.116.1
fastapi-cli==0.0.10
fastapi-cloud-cli==0.1.5
fastrlock==0.8.3
ffmpy==0.6.1
filelock==3.19.1
fire==0.7.1
flashinfer-python==0.2.5
fonttools==4.59.2
frozendict==2.4.6
frozenlist==1.7.0
fsspec==2025.3.0
galore-torch==1.0
geometry-msgs==4.9.0
gguf==0.10.0
gptqmodel==4.0.0
gradio==5.31.0
gradio_client==1.10.1
groovy==0.1.2
h11==0.16.0
hf-xet==1.1.9
hf_transfer==0.1.9
hjson==3.1.0
hqq==0.2.8
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.34.4
identify==2.6.13
idna==3.10
image-geometry==3.2.1
importlib_metadata==8.7.0
iniconfig==2.1.0
interactive-markers==2.3.2
interegular==0.3.3
ipython==8.37.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
kiwisolver==1.4.9
lark==1.2.2
laser-geometry==2.4.0
launch==1.0.10
launch-ros==0.19.12
launch-testing==1.0.10
launch-testing-ros==0.19.12
launch-xml==1.0.10
launch-yaml==1.0.10
lazy_loader==0.4
librosa==0.11.0
lifecycle-msgs==1.2.2
liger_kernel==0.6.2
-e git+https://github.com/lanzhiwang/LLaMA-Factory.git@17bad4fec6fe27b28d9f736f4a9d1dfbd74367ef#egg=llamafactory
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.12
logbar==0.0.4
logging-demo==0.20.5
lxml==6.0.1
map-msgs==2.1.0
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
mdurl==0.1.2
message-filters==4.3.8
mistral_common==1.8.4
modelscope==1.29.2
mpmath==1.3.0
msgpack==1.1.1
msgspec==0.19.0
multidict==6.6.4
multiprocess==0.70.16
nanobind==2.8.0
nav-msgs==4.9.0
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.13.0
nltk==3.9.1
nodeenv==1.9.1
numba==0.61.0
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.575.51
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
omegaconf==2.3.0
openai==1.104.2
opencv-python-headless==4.11.0.86
openmind==0.8.0
openmind-hub==0.8.0
optimum==1.27.0
orjson==3.11.3
osrf-pycommon==2.1.6
outlines==0.1.11
outlines_core==0.1.26
packaging==25.0
pandas==2.3.2
parso==0.8.5
partial-json-parser==0.2.1.1.post6
pcl-msgs==1.0.0
peft==0.15.2
pendulum-msgs==0.20.5
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.4.0
pluggy==1.6.0
pooch==1.8.2
pre_commit==4.3.0
prettytable==3.16.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.22.1
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==3.20.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==21.0.0
pycountry==24.6.1
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.10.6
pydantic-extra-types==2.10.5
pydantic_core==2.27.2
pydub==0.25.1
pyecharts==2.0.8
Pygments==2.19.2
pynvml==12.0.0
pyparsing==3.2.3
pyproject_hooks==1.2.0
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-multipart==0.0.20
python-qt-binding==1.1.2
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.0.2
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.5
ray==2.49.1
rcl-interfaces==1.2.2
rclpy==3.3.17
rcutils==5.1.7
referencing==0.36.2
regex==2025.9.1
requests==2.32.2
resource-retriever==3.1.3
rich==13.9.4
rich-toolkit==0.15.0
rignore==0.6.4
rmw-dds-common==1.6.0
ros2action==0.18.14
ros2bag==0.15.15
ros2cli==0.18.14
ros2component==0.18.14
ros2doctor==0.18.14
ros2interface==0.18.14
ros2launch==0.19.12
ros2lifecycle==0.18.14
ros2multicast==0.18.14
ros2node==0.18.14
ros2param==0.18.14
ros2pkg==0.18.14
ros2run==0.18.14
ros2service==0.18.14
ros2topic==0.18.14
rosbag2-interfaces==0.15.15
rosbag2-py==0.15.15
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.7
rosidl-cli==3.1.7
rosidl-cmake==3.1.7
rosidl-generator-c==3.1.7
rosidl-generator-cpp==3.1.7
rosidl-generator-py==0.14.5
rosidl-parser==3.1.7
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.7
rosidl-typesupport-introspection-cpp==3.1.7
rouge-chinese==1.0.3
rpds-py==0.27.1
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
ruff==0.12.11
s3transfer==0.13.1
safehttpx==0.1.6
safetensors==0.6.2
scikit-learn==1.7.1
scipy==1.15.3
semantic-version==2.10.0
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
sentencepiece==0.2.1
sentry-sdk==2.35.2
setproctitle==1.3.6
sgl-kernel==0.1.1
sglang==0.4.6.post2
shape-msgs==4.9.0
shellingham==1.5.4
shtab==1.7.2
simplejson==3.20.1
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soxr==0.5.0.post1
sros2==0.10.7
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.47.3
statistics-msgs==1.2.2
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
swankit==0.2.4
swanlab==0.6.8
sympy==1.13.1
tabulate==0.9.0
teleop-twist-keyboard==2.4.0
termcolor==3.1.0
tf2-geometry-msgs==0.25.16
tf2-kdl==0.25.16
tf2-msgs==0.25.16
tf2-py==0.25.16
tf2-ros-py==0.25.16
tf2-sensor-msgs==0.25.16
tf2-tools==0.25.16
threadpoolctl==3.6.0
tiktoken==0.11.0
tokenicer==0.0.4
tokenizers==0.21.1
tomli==2.2.1
tomlkit==0.13.3
topic-monitor==0.20.5
torch==2.6.0
torchao==0.12.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==4.9.0
transformers==4.51.1
triton==3.2.0
trl==0.9.6
turtlesim==1.4.2
typer==0.17.3
typing_extensions==4.15.0
tyro==0.8.14
tzdata==2025.2
unique-identifier-msgs==2.2.1
unsloth==2025.4.7
unsloth_zoo==2025.4.4
urllib3==2.5.0
uv==0.8.14
uvicorn==0.35.0
uvloop==0.21.0
vector-quantize-pytorch==1.23.2
virtualenv==20.34.0
visualization-msgs==4.9.0
vllm==0.8.3
vocos==0.1.0
watchfiles==1.1.0
wcwidth==0.2.13
websockets==15.0.1
wrapt==1.17.3
xformers==0.0.29.post2
xgrammar==0.1.17
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
